.testimonialSec .secTitle {
  font-size: 45px;
  font-weight: 700;
}

.testimonialBox:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 50px solid #fff;
  position: absolute;
  bottom: -30px;
  right: 35px;
  transform: rotate(35deg);
  z-index: -1;
}
.testimonialSec .swiper {
  padding-bottom: 25px;
}
.testimonialBox {
  background-color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  position: relative;
}
.testimonialMeta {
  display: flex;
  align-items: start;
  gap: 10px;
}
.testimonialProfile {
  background-color: #d41f14;
  line-height: 1;
  flex: 0 0 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Syne";
  font-size: 35px;
  border-radius: 5px;
  color: #fff;
}
.testimonialName {
  color: #d41f14;
  font-size: 20px;
}
.testimonialDesignation {
  font-size: 13px;
  line-height: 1;
}
.testimonialDesc {
  font-size: 14px;
}

.testimonialFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.testimonialIcon {
  width: 40px;
}

/* Large screens (desktops, tablets in landscape) */
@media (max-width: 1399px) {
  .testimonialBox {
    min-height: 182px;
  }
  .testimonialSec .secTitle {
    font-size: 38px;
  }
}

@media (max-width: 991px) {
  .testimonialSec .secHead {
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .testimonialSec .secTitle {
    font-size: 35px;
    line-height: 1.2;
  }
  .testimonialBox {
    min-height: 170px;
  }
}
