.blogSec .secHead {
  margin-bottom: 40px;
  text-align: center;
}

.blogSec .secHead .secTitle {
  font-size: 50px;
  font-weight: 700;
}

.blogCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all .25s ease;
}
.blogCard:hover{
  transform: translate(0, -10px);
}

.blogCardTitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
  min-height: 21px;
}
.blogCardContent a {
  text-decoration: none;
  color: inherit;
}

.blogCardHeader {
  overflow: hidden;
  height: 265px;
}
.blogCardHeader img {
  transition: all 0.25s ease;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.blogCard:hover .blogCardHeader img {
  transform: scale(1.1);
}

.blogCardBtn {
  color: #d41f14;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.blogCardBtn svg {
  font-size: 25px;
}

.blogCardMeta {
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 1;
  margin-bottom: 10px;
}

.blogMetaDetails svg {
  color: #d41f14;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}

.blogMetaDetails {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 15px;
}
.blogMetaDetails span {
  color: #707070;
}

@media (max-width: 1199px) {
  .blogCardTitle {
    font-size: 16px;
  }
  .blogMetaDetails {
    font-size: 13px;
  }
}
@media (max-width: 991px) {
  .blogSec .secHead .secTitle {
    font-size: 40px;
  }
}
