.faqSection {
  background-color: #ffe2e1;
}


.faqContent .secHead {
    margin-bottom: 40px;
}

.faqContent .secHead .secTitle {
    font-size: 50px;
    font-weight: 700;
}


.faqs-items .accordion-button {
  background-color: #fff;
  box-shadow: none;
  color: #161515;
  font-size: 20px;
  font-weight: 700;
  /* border-radius: 12px; */
  font-weight: 600;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 12px;
  padding: 12px 16px 0;
}

.faqs-items .accordion-button:focus {
  box-shadow: unset;
}

/* .faqs-items
  .accordion-item:first-of-type
  > .accordion-header
  .accordion-button {
  border-radius: 12px;
} */

.accordion-item .accordion-header .accordion-button.collapsed{
    padding-bottom: 12px;
}

.faqs-items .accordion-button:not(.collapsed) {
  /* background: #d7ff00; */
  border: initial;
  box-shadow: none;
  /* color: #191919; */
}

.faqs-items .accordion-body {
  color: #707070;
  font-size: 15px;
  padding-top: 0;
  padding-left: 55px;
}

.faqs-items .accordion-item {
  background: #fff;
  border: unset;
  border-radius: unset !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px !important;
  overflow: hidden;
}

.faqs-items .accordion {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faqs-items .accordion-button::after {
  content: "" !important;
  background-image: url("../../assets/images/plus-icon.webp") !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  /* filter: invert(1) brightness(2); */
  margin: 0;
}

.faqs-items .accordion-button:not(.collapsed)::after {
  background-image: url("../../assets/images/minus-icon.webp") !important;
  transform: rotate(0deg);
  filter: unset;
}
