.blog-detail-banner-img {
  box-shadow: #11111a1a 0 0 16px;
  border-radius: 20px;
  overflow: hidden;
}

.blog-detail-banner-img img {
  width: 100%;
}

.blogDetailMain-title {
  font-size: 32px;
  margin: 25px 0;
}

.blogDetail-about-infoItem {
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 6px;
  font-size: 16px;
}

.blogDetail-about-infoItem svg {
  color: #161515;
}

.blogDetail-about-infoCategories {
  display: flex;
  align-items: center;
  column-gap: 16px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.blogDetail-about-info {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 20px 0;
}

.blogDetail-about-infoItem a {
  text-decoration: none;
  color: unset;
}

.blogDetail-about-infoItem span {
  white-space: nowrap;
}

.blog-detail-content a {
  font-size: 16px;
  color: #161515;
}

.blog-detail-content .post-content img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.blog-detail-content .post-content p {
  margin-bottom: 13px !important;
}

.blog-detail-content .post-content :is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: 16px !important;
}

.sideBarBlogCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  border: unset;
  border-radius: unset;
}

.sideBarBlogCard img {
  flex: 0 0 20px !important;
  height: unset;
  width: unset !important;
  max-width: 50px !important;
  object-fit: cover;
  border-radius: unset;
  max-height: 50px;
}

.sideBarBlogCard .card-title {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 600;
  margin-bottom: 5px !important;
  color: #161515;
}

.sideBarBlogCard a {
  text-decoration: none;
}

.sideBarBlogCard p {
  font-size: 14px;
  color: #161515;
}

.blog-detail-content .post-content .wp-caption {
  width: 100% !important;
}

.postDetail-loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideBar-loader img {
  width: 100px;
}.sideBar-loader{
    text-align: center;
}
