@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Syne Font */
@font-face {
  font-family: "Syne";
  src: url("assets/fonts/Syne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Syne";
  src: url("assets/fonts/Syne-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Syne";
  src: url("assets/fonts/Syne-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Syne";
  src: url("assets/fonts/Syne-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  font-size-adjust: 0.5; /* Adjust this experimentally */
}

.bgBlack {
  background-color: #161515;
  color: #fff;
}
.bgPink {
  background-color: #ffe2e1;
}
.bgWhite {
  background-color: #fff !important;
}
.redColor {
  color: #d41f14;
}
.theme-btn {
  font-size: 16px;
  font-weight: 500;
  background-color: #d41f14;
  color: #fff;
  border: 0;
  padding: 14px 20px;
  line-height: 1;
  border-radius: 7px;
  text-decoration: none;
  white-space: noWrap;
  display: inline-block;
}
.theme-btn-white {
  background-color: #fff;
  color: #d41f14;
}
.icon-btn {
  padding-top: 10px;
  padding-bottom: 10px;
}
.icon-btn svg {
  font-size: 25px;
  height: 25px;
  width: 30px;
  line-height: 1;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Syne", "Helvetica Neue", Arial, sans-serif;
} */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  font-family: "Syne";
}
p {
  margin-bottom: 0;
  color: #707070;
}
.at::before {
  content: "@";
}
.dot::before {
  content: ".";
}
.ObfuscatedEmail {
  cursor: pointer;
}

.btn-loading {
  opacity: 0.3;
  pointer-events: none; /* Optional: to prevent interactions while loading */
}
.btn-loaded {
  opacity: 1;
  pointer-events: auto;
}

.sec-margin {
  margin: 60px 0;
}
.sec-padding {
  padding: 60px 0;
  overflow: hidden;
}
.sec-tag {
  color: #d41f14 !important;
  font-family: "Syne", "Helvetica Neue", Arial, sans-serif;
  /* font-size: 30px !important; */
  font-size: 22px !important;
  margin-bottom: 10px;
  font-weight: 500;
}
.sec-tag.blackColor {
  color: #161515 !important;
}

.form-control {
  background-color: #2b2b2b;
  color: #fff;
  padding: 10px 16px;
  border: unset;
  font-size: 16px;
  line-height: 1.5;
  resize: none;
  border-radius: 5px;
}
.form-control::placeholder {
  color: #fff;
}
.form-control:focus {
  color: #fff;
  background-color: #2b2b2b;
  border-color: unset;
  outline: 0;
  box-shadow: unset;
}

textarea.form-control {
  min-height: 120px;
}

.contactUsPage .form-control {
  background-color: #fff;
  color: #707070;
  border: 1px solid #707070;
}
.contactUsPage .form-control::placeholder {
  color: #707070;
}
.contactUsPage .form-control:focus {
  color: #707070;
  background-color: #fff;
}

.homeAboutList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.homeAboutContent .secTitle {
  font-size: 48px;
  margin-bottom: 16px;
}

.homeMissionSec {
  background-color: #ffe2e1;
}

.homeMissionContent {
  display: flex;
  align-items: end;
  gap: 50px;
}

.homeMissionContentLeft .secTitle {
  font-size: 57px;
  font-weight: 700;
}

.beVisible-numberBox {
  border: 2px solid #d41f14;
  text-align: center;
  padding: 25px;
}

.beVisible-numberBoxBg {
  background-color: #d41f14;
  width: 100%;
  min-height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.beVisible-numberBoxBg .h3 {
  font-size: 200px;
  line-height: 1;
}

.beVisibleSec .secHead {
  max-width: 768px;
  margin-bottom: 30px;
}
.beVisibleSec .secHead .secTitle {
  font-size: 54px;
  font-weight: 700;
}
.beVisibleCOntent .h3 {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: bold;
}

.beVisibleIconsData {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 40px;
}

.beVisibleIconData {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.beVisibleIconData-title {
  font-size: 18px;
  max-width: 190px;
  margin: 0 auto;
  font-weight: 700;
}

.beVisibleIconData img {
  max-width: 100px;
}

.getStartProjecContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.getStartProjecContent p {
  color: #fff;
}

.getStartProjecContent .secTitle {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 5px;
}

.letsWorkTogether {
  padding-top: 60px;
  overflow: hidden;
}

.letsWorkTogether .secHead {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.letsWorkTogether .secHead .secTitle {
  font-size: 50px;
  font-weight: 700;
}
.letsWorkTogether .secHead p {
  /* margin-bottom: 16px; */
}

.secureProcess {
  background-color: #ffe2e1;
}

.secureProcessContent .secTitle {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}
.secureProcessContent p {
  margin-bottom: 20px;
}

.secureProcessListItem {
  border-left: 3px solid #d41f14;
  padding: 7px 20px;
}

.secureProcessListItem .secureProcessListItemTitle {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Syne";
  color: #212529;
}

.secureProcessListItem p {
  font-size: 16px;
  margin: 0;
}

.secureProcessList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.secureProcessImages {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.getToKnowImg2 {
  max-width: 200px;
}
.getToKnowExpDivHead {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0px 20px;
}

.tenPlusExpTitle {
  background-color: #d41f14;
  color: #fff;
  padding: 20px 30px;
  line-height: 1;
  font-size: 50px;
  outline: 4px solid #fff;
  outline-offset: 4px;
  /* margin-left: 6px; */
  border-radius: 6px;
  margin-top: 15px;
}
.getToKnowImg1 img {
  aspect-ratio: 14 / 13;
  object-fit: cover;
}

.getToKnowExpDiv {
  margin-top: -90px;
}

.expTagHead {
  font-size: 45px !important;
  font-weight: 700;
}
.expTagHeadNum {
  display: block;
}
.getKnowExptText {
  position: relative;
}
.getKnowExptText::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  right: -100%;
  bottom: 0;
  background: transparent linear-gradient(270deg, #d41f14 0%, #ffffff 100%) 0%
    0% no-repeat padding-box;
}
.getKnowExptText p {
  font-size: 16px;
}

.getToKnowContent .secTitle {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}

.getToKnowContent p {
  font-size: 16px;
  margin-bottom: 16px;
}

.getToKnowContent .secSubTitle {
  font-size: 25px;
  margin-bottom: 16px;
  font-weight: 700;
  text-transform: capitalize;
}
.ourServicesContent .secTitle {
  font-size: 53px;
  font-weight: 700;
  margin-bottom: 15px;
}
.ourServicesContent p {
  font-size: 16px;
  margin-bottom: 16px;
}

.ourServicesContent .secSubTitle {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #d41f14;
}

.ourServicesListItem {
  display: flex;
  align-items: start;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  gap: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ourServicesList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
  height: 610px;
}

.readMore-btn {
  color: #d41f14;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}
.readMore svg {
  font-size: 25px;
}

.ourServicesListTitle {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 700;
}

.ourServicesListItem p {
  font-size: 16px;
  margin-bottom: 16px;
}

.ourServicesListItem .ourServicesListIcon {
  width: 40px;
  height: 40px;
}

/* Applies to WebKit browsers (Chrome, Safari, Edge) */
.ourServicesList::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.ourServicesList::-webkit-scrollbar-track {
  /* background: #f0f0f0; */
  border-radius: 10px;
}

.ourServicesList::-webkit-scrollbar-thumb {
  background-color: #d41f14;
  border-radius: 10px;
  border: 3px solid #f0f0f0;
}

.ourServicesList::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.ourPortfolio .secHead {
  margin-bottom: 40px;
  text-align: center;
}

.ourPortfolio .secHead .secTitle {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: 700;
}

.ourPortfolio .packagesTabs {
  padding: 0 20px;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.portfolioSliderDiv {
  display: flex;
  flex-direction: column-reverse;
  gap: 45px;
}
/* .portfolioSwiperToRight {
  direction: ltr;
} */

.portfolioSwiperToRight {
  direction: rtl;
  transform: scaleX(1);
}

.portfolioSwiperToRight .swiper-slide {
  /* transform: scaleX(-1); */
}
.ourPortfolioItem img {
  border-radius: 12px;
}
.designForImpack .secHead {
  text-align: center;
  max-width: 1160px;
  margin: 0 auto;
}

.designForImpack .secHead .secTitle {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 16px;
}

.designForImpack .secHead p {
  font-size: 16px;
  margin-bottom: 16px;
}

.subscribeNow .secHead {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

.subscribeNow .secHead .secTitle {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}

.subscribeNow .secHead .sec-tag-sm {
  margin-bottom: 12px;
  color: #d41f14;
  font-weight: 600;
  font-size: 16px;
}

.contactUsPageContent p {
  font-size: 16px;
  margin-bottom: 16px;
}

.contactUsPageContent .secTitle {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 10px;
}

.officeDetailItem {
  display: flex;
  align-items: center;
  gap: 14px;
}

.officeDetails {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.officeDetailItem img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.officeDetailItemText {
  margin-bottom: 0 !important;
  text-decoration: none;
  color: #707070;
}

.categoriesList {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.categoriesList h4,
.categoriesList h2,
.categoriesList .categoriesListTitle {
  color: #d41f14;
  font-weight: 600;
  font-size: 25px;
}
.latestTech .secHead .secTitle {
  font-size: 43px;
  font-weight: 700;
  margin-bottom: 12px;
  min-height: 72px;
}
.latestTech .secHead p {
  margin-bottom: 16px;
}
.experienceSec .secHead {
  text-align: center;
  max-width: 1070px;
  margin: 0 auto 30px;
}

.experienceSec .secHead .secTitle {
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
}
.experienceSecCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.experienceSecCardItem {
  width: 290px;
  padding: 20px;
  background: #d41f14;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  min-height: 200px;
  justify-content: center;
}
.experienceSecCardItem img {
  background-color: #fff;
  width: 60px;
  height: 60px;
  object-fit: contain;
  padding: 10px;
  border-radius: 7px;
}

.experienceCardItemTitle {
  font-size: 20px;
  line-height: 1.2;
  min-height: 44px;
}

.latestTechLogoSec .packageCardList li {
  font-size: 15px;
}

.logoSinglePortfolio {
  background-image: url(assets/images/logoSingleportfolioBg.webp);
  background-size: 100% 60%;
  background-position: center top;
  background-repeat: no-repeat;
}

.logoSinglePortfolio .secHead {
  text-align: center;
  color: #fff;
  max-width: 1000px;
  margin: 0 auto 30px;
}

.logoSinglePortfolio .secHead .secTitle {
  font-size: 50px;
  font-weight: 700;
}

.logoSinglePortfolioImg {
  max-width: 768px;
  margin: 0 auto;
}

.getFoundSeoContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.getFoundSeoContent .secTitle {
  font-size: 50px;
  font-weight: 700;
}

.getFoundSeoContent p {
  color: #fff;
}
/* Privacy Policy and Terms and Condition */
.privacy-policy-content {
  margin-bottom: 30px;
}

.privacy-policy-content h2 {
  font-weight: 600;
  font-size: 35px;
  color: #191919;
  margin-bottom: 16px !important;
}

.privacy-policy-content h3,
.privacy-policy-content h4 {
  margin-bottom: 10px !important;
  font-weight: 600;
}
.privacy-policy-content h4 {
  color: #707070;
}

.privacy-policy-content p a,
.privacy-policy-content p .terms-condition-email {
  color: #d41f14;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.terms-condition-email {
  color: #d41f14;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.privacy-policy-content p {
  margin-bottom: 12px !important;
}

.privacyPolicyLastDiv p {
  margin-bottom: 0 !important;
}

.privacy-policy-content ul {
  padding-left: 20px;
}

.privacy-policy-content ul li::marker {
  color: #d41f14;
}

.privacy-policy-content ul li,
.privacy-policy-content p {
  /* color: #191919; */
  color: #707070;
  font-weight: 400;
  font-size: 16px;
  font-family: Poppins, sans-serif;
}
/* Privacy Policy and Terms and Condition */
.loader-div img {
  width: 100px;
  height: 100px;
}
.news-latterForm {
  max-width: 768px;
  margin: 0 auto;
}


/********* Location Page CSS Start *********/

.locate-wordpress-herobanner nav ol.breadcrumb {
  display: none;
}


.innerBannerContent .theme-btn {
    margin: 25px 0px 0px 0px;
}

.location-support-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 20px 0 0;
}

.location-support-sec {
    padding: 70px 0;
}

.location-support-head.text-center h6 {
    color: #D41F14;
    margin: 0px 0px 20px 0px;
    font-weight: bold;
}

.location-support-head h3 {
    color: #161515;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.1;
    margin: 0 0 20px;
}

.location-support-head h3 span {
    color: #d41f14;
}

.location-support-head p {
    color: #707070;
}

.location-support-card {
    text-align: center;
}

.location-support-card img {
    margin: 0 0 30px;
}

.location-support-card h6 {
    font-weight: 600;
    font-size: 14px;
}


.location-contact-sec {
  background: url(./assets/images/locationpages/wordpress-development-dallas/contact-bg.webp) no-repeat top center;
  background-size: cover;
  padding: 70px 0px;
  width: 100%;
  height: 100%;
}

.location-contact-txt h6 {
    color: #D41F14;
    font-size: 18px;
}

.location-contact-txt h2 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 700;
}

.location-contact-txt p {
    color: #fff;
    margin: 10px 0px 15px 0px;
}

.location-contact-txt ul li {
    list-style: none;
    color: #fff;
    padding: 15px 0px;
}

.location-contact-txt ul li span {
    margin: 0px 10px 0px 0px;
    background: #fff;
    color: #d41f14;
    padding: 7px 9px;
    border-radius: 5px;
}

.location-contact-txt ul {
    padding: 0px;
    margin: 0px;
}

.location-contact-sec .contactForm {
    background: #8080808c;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.30000001192092896px solid #ffffff36;
    border-radius: 20px;
    padding: 30px;
}

section.location-contact-sec .contactForm {
    background: #8080804d;
    box-shadow: 0px 3px 6px #00000029;
    border: 0.30000001192092896px solid #ffffff36;
    border-radius: 20px;
    padding: 30px;
}

.location-contact-sec .contactForm .form-control {
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FFFFFF;
    background: transparent;
}

.location-contact-sec .contactForm select option {
    color: #000;
}


.location-faqs .accordion .accordion-item {
  margin: 0px 0px 20px 0px;
  border-radius: 10px;
  border: 0.4000000059604645px solid #ffffff59;
  background: #EFEFEF;
}

.location-faqs .accordion {
  background: transparent;
  border: none;
}

.location-faqs .accordion .accordion-item .accordion-header {
  background: transparent;
  color: #fff;
  border: none !important;
}

.location-faqs
  .accordion
  .accordion-item
  .accordion-header
  button.accordion-button.collapsed {
  background: #fff;
  color: #161515;
  border: none !important;
  font-weight: 600;
  box-shadow: 0px 3px 6px #00000029;
}

.location-faqs .accordion .accordion-item .accordion-header .accordion-button:focus {
    outline: none;
    box-shadow: none;
}

.location-faqs
  .accordion
  .accordion-item:first-of-type
  > .accordion-header
  .accordion-button {
  background: transparent;
  color: #161515;
  border: none !important;
}

.location-faqs
  .accordion
  .accordion-item
  .accordion-header
  .accordion-button:not(.collapsed) {
  color: #D41F14;
  background-color: transparent;
  font-weight: 600;
}

.location-faqs .accordion .accordion-item .accordion-collapse.collapse.show {
  border: none !important;
}

.location-faqs .accordion .accordion-item .accordion-body {
  border: none !important;
  color: #161515;
}

.location-faqs
  .accordion
  .accordion-item
  .accordion-header
  .accordion-button::after {
  background-image: url(./assets/images/locationpages/wordpress-development-dallas/downarrow.svg);
  transform: rotate(0deg);
}

.location-faqs
  .accordion
  .accordion-item
  .accordion-header
  .accordion-button:not(.collapsed)::after {
  background-image: url(./assets/images/locationpages/wordpress-development-dallas/uparrow.svg);
}


section.location-faqs-sec {
    padding: 70px 0px;
}

.location-faqs-txt h6 {
    color: #D41F14;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
}

.location-faqs-txt h2 {
    color: #161515;
    font-size: 50px;
    font-weight: 700;
}

.location-faqs-txt p {
    color: #161515;
}



.abouttxt-data  .title {
    font-size: 40px;
    font-weight: bold;
}

.theme-btn a {
    text-decoration: none;
    color: #fff;
}

/********* Location Page CSS End *********/


@media (max-width: 1399px) {
  .homeAboutContent .secTitle {
    font-size: 45px;
  }
  .homeMissionContentLeft .secTitle {
    font-size: 45px;
  }

  .beVisibleSec .secHead .secTitle {
    font-size: 50px;
  }
  .beVisibleCOntent .h3 {
    font-size: 45px;
  }
  .getToKnowContent .secTitle {
    font-size: 40px;
  }
  .getToKnowExpDivHead {
    align-items: center;
  }
  .getKnowExptText::after {
    height: 80%;
  }
  .ourServicesListTitle {
    font-size: 24px;
  }
  .ourServicesContent .secTitle {
    font-size: 43px;
  }
  .ourServicesList {
    height: 650px;
  }
  .secureProcessContent .secTitle {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .secureProcessListItem {
    padding: 3px 20px;
  }
}

@media (max-width: 1199px) {
  .experienceSec .secHead .secTitle {
    font-size: 40px;
  }
  .contactUsPageContent .secTitle {
    font-size: 33px;
  }
  .categoriesList h2,
  .categoriesList h4,
  .categoriesList .categoriesListTitle {
    font-size: 20px;
  }
  .latestTech .secHead .secTitle {
    font-size: 36px;
  }
  .homeAboutContent .secTitle {
    font-size: 40px;
  }
  .homeMissionContentLeft .secTitle {
    font-size: 39px;
  }
  .beVisibleIconData-title {
    font-size: 16px;
  }
  .logoSinglePortfolio .secHead .secTitle {
    font-size: 40px;
  }
  .getFoundSeoContent .secTitle {
    font-size: 35px;
  }
  .ourPortfolio .secHead .secTitle {
    font-size: 40px;
  }
  .designForImpack .secHead .secTitle {
    font-size: 40px;
  }
  .getToKnowContent .secTitle {
    font-size: 30px;
  }
  .getToKnowContent .secSubTitle {
    font-size: 20px;
  }
  .expTagHead {
    font-size: 35px !important;
  }
  .getKnowExptText::after {
    height: 50%;
  }
  .ourServicesList {
    height: 700px;
  }
  .ourServicesContent .secTitle {
    font-size: 35px;
  }
  .ourServicesContent .secSubTitle {
    font-size: 22px;
  }
  .secureProcessContent .secTitle {
    font-size: 40px;
  }
  .secureProcessContent p {
    margin-bottom: 16px;
  }
  .secureProcessListItem .secureProcessListItemTitle {
    font-size: 20px;
    margin-bottom: 3px;
  }
  .secureProcessList {
    gap: 16px;
  }
}
@media (max-width: 991px) {
  .getFoundSeoImg {
    max-width: 480px;
    margin: 0 auto 30px;
  }
  .sec-margin {
    margin: 40px 0;
  }
  .sec-padding {
    padding: 40px 0;
  }
  .homeMissionContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }
  .homeMissionContentLeft .secTitle {
    font-size: 35px;
  }
  .beVisibleSec .secHead .secTitle {
    font-size: 45px;
  }
  .beVisibleCOntent .h3 {
    font-size: 40px;
  }
  .beVisibleIconsData {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  .contactUsPageContent {
    margin-bottom: 30px;
  }
  .rightP {
    margin-top: 20px;
  }
  .latestTech .secHead .theme-btn {
    margin-bottom: 20px;
  }

  .ourPortfolio .secHead .secTitle {
    font-size: 40px;
  }
  .getKnowExptText::after {
    content: unset;
  }
  .ourServicesList {
    height: 417px;
  }
  .ourServicesContent {
    margin-bottom: 30px;
  }
  .getToKnowImg1 {
    max-width: 480px;
    margin: 0 auto;
  }
  .getToKnowContent {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .logoSinglePortfolio .secHead .secTitle {
    font-size: 30px;
  }
  .homeMissionContentLeft .secTitle {
    font-size: 28px;
  }
  .beVisibleSec .secHead .secTitle {
    font-size: 35px;
  }
  .beVisibleCOntent .h3 {
    font-size: 30px;
  }
  .beVisible-numberBoxBg .h3 {
    font-size: 150px;
  }
  .latestTech .secHead .secTitle {
    font-size: 35px;
  }
  .experienceSec .secHead .secTitle {
    font-size: 32px;
  }
  .ourPortfolio .secHead {
    margin-bottom: 30px;
  }
  .designForImpack .secHead .secTitle {
    font-size: 32px;
  }
  .ourServicesList {
    height: 464px;
  }
  .subscribeNow .secHead .secTitle {
    font-size: 33px;
  }
}
@media (max-width: 480px) {
  .beVisibleSec .secHead .secTitle {
    font-size: 30px;
  }
  .latestTech .secHead .secTitle {
    font-size: 30px;
  }
  .ourPortfolio .secHead .secTitle {
    font-size: 30px;
  }
  .getFoundSeoContent .secTitle {
    font-size: 28px;
  }
}

@media (max-width: 430px) {
  .logoSinglePortfolio .secHead .secTitle {
    font-size: 25px;
  }
  .getToKnowImg2 {
    max-width: 160px;
  }
  .tenPlusExpTitle {
    padding: 15px 20px;
    font-size: 35px;
  }
  .beVisibleIconsData {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .expTagHead {
    font-size: 26px !important;
  }
  .getToKnowContent .secTitle {
    font-size: 26px;
  }
}
@media (max-width: 390px) {
  .homeAboutContent .secTitle {
    font-size: 30px;
  }
}
